<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <a class="navbar-brand" href="#">Progmet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active menu-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item menu-item">
        <a class="nav-link" href="#about">O firmie</a>
      </li>
      <li class="nav-item dropdown menu-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Kategorie
        </a>
        <div class="dropdown-menu sub-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item menu-item" href="#">Action</a>
          <a class="dropdown-item menu-item" href="#">Another action</a>
        </div>
      </li>
      <li class="nav-item menu-item">
        <a class="nav-link" href="#">Warunki</a>
      </li>
      <li class="nav-item menu-item">
        <a class="nav-link" href="#contact">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>